body {
  height: 100vh;
}

body #root {
  height: 100%;
  padding: 10px;
}

.title-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 48px;
  border-bottom: 1px solid gray;
  padding-bottom: 8px;
}

.router-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.router-renderer {
  padding: 8px;
  width: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  width: 256px;
  height: 100%;
}

.side-bar a {
  margin: 8px 0px;
}